.NavBar{
    background-color:#0046BE;
    justify-content: space-between;
    height: 100px;
    position: relative;
    

}


.items{
    display: flex;
    vertical-align: bottom;
    padding:65px;
     
}

#dropdown-variants-Products{
 margin:5px;
 font-weight: bold;
 background-color: transparent;
 color: white;
}

#dropdown-variants-Brands{
    margin:5px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}

#dropdown-variants-Deals{
    margin:5px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}

#dropdown-variants-Services{
    margin:5px;
    font-weight: bold;
    background-color: transparent;
    color: white;
}

